@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  *::before,
  *,
  *::after {
    box-sizing: border-box;
  }
}

@utility fc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer base {
  /* default data-theme = green-dark */
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 240 5% 60%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 143.8 61.2% 86.1%;
    --chart-3: 143.8 64.2% 71%;
    --chart-4: 142.1 70.6% 45.3%;
    --chart-5: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  :root[data-theme='zinc-light'] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 95%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 95%;
    --popover-foreground: 240 10% 10%;
    --primary: 240 5.9% 15%;
    --primary-foreground: 0 0% 95%;
    --secondary: 240 4.8% 90%;
    --secondary-foreground: 240 10% 10%;
    --muted: 240 4.8% 90%;
    --muted-foreground: 240 3.8% 50%;
    --accent: 240 4.8% 90%;
    --accent-foreground: 240 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 95%;
    --border: 240 5.9% 85%;
    --input: 240 5.9% 85%;
    --ring: 240 5.9% 15%;
    --chart-1: 240 5.9% 15%;
    --chart-2: 240 5% 40%;
    --chart-3: 240 5.5% 35%;
    --chart-4: 240 4% 25%;
    --chart-5: 240 5.9% 90%;
  }
  :root[data-theme='zinc-dark'] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 95%;
    --card: 240 10% 5%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 5%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 95%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 70%;
    --accent: 240 4% 20%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 240 4.9% 85%;
    --chart-1: 240 5.9% 15%;
    --chart-2: 240 4.5% 90%;
    --chart-3: 240 5% 75%;
    --chart-4: 240 4% 55%;
    --chart-5: 240 5.9% 10%;
  }
  :root[data-theme='slate-light'] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 90%;
    --muted-foreground: 215.4 16.3% 50%;
    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 85%;
    --input: 214.3 31.8% 85%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 215.4 16.3% 50%;
    --chart-3: 215.3 19.3% 40%;
    --chart-4: 217.2 32.6% 15%;
    --chart-5: 214.3 31.8% 85%;
  }
  :root[data-theme='slate-dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 20%;
    --muted-foreground: 215 20.2% 70%;
    --accent: 217.2 32.6% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 20%;
    --input: 217.2 32.6% 20%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 215 20.2% 70%;
    --chart-3: 215 20.2% 50%;
    --chart-4: 215.4 16.3% 45%;
    --chart-5: 222.2 47.4% 11.2%;
  }
  :root[data-theme='stone-light'] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 95%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 95%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 90%;
    --muted-foreground: 25 5.3% 50%;
    --accent: 60 4.8% 90%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 85%;
    --input: 20 5.9% 85%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 24 9.8% 10%;
    --chart-2: 25 5.3% 50%;
    --chart-3: 25 6.4% 30%;
    --chart-4: 12 6.5% 15%;
    --chart-5: 20 5.9% 85%;
  }
  :root[data-theme='stone-dark'] {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 20%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 20%;
    --muted-foreground: 24 5.4% 70%;
    --accent: 12 6.5% 20%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 20%;
    --input: 12 6.5% 20%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 24 9.8% 10%;
    --chart-2: 24 5.7% 82.9%;
    --chart-3: 24 5.4% 70%;
    --chart-4: 25 5.3% 50%;
    --chart-5: 24 9.8% 10%;
  }
  :root[data-theme='gray-light'] {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 90%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 90%;
    --muted-foreground: 220 8.9% 40%;
    --accent: 220 14.3% 90%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 220.9 39.3% 11%;
    --chart-2: 220 8.9% 40%;
    --chart-3: 220 13.4% 25%;
    --chart-4: 215 27.9% 15%;
    --chart-5: 220 13% 85%;
  }
  :root[data-theme='gray-dark'] {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 6%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 20%;
    --muted-foreground: 217.9 10.6% 70%;
    --accent: 215 27.9% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 20%;
    --input: 215 27.9% 20%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220.9 39.3% 11%;
    --chart-2: 216 12.2% 80%;
    --chart-3: 217.9 10.6% 70%;
    --chart-4: 220 8.9% 45%;
    --chart-5: 220.9 39.3% 11%;
  }
  :root[data-theme='neutral-light'] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 0% 9%;
    --chart-2: 0 0% 45.1%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 15%;
    --chart-5: 0 0% 89.8%;
  }
  :root[data-theme='neutral-dark'] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 80%;
    --chart-1: 0 0% 9%;
    --chart-2: 0 0% 80%;
    --chart-3: 0 0% 65%;
    --chart-4: 0 0% 50%;
    --chart-5: 0 0% 10%;
  }
  :root[data-theme='red-light'] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 0 72.2% 50.6%;
    --chart-2: 0 84.2% 60.2%;
    --chart-3: 0 68.8% 45%;
    --chart-4: 0 76.6% 30%;
    --chart-5: 0 85.7% 97.3%;
  }
  :root[data-theme='red-dark'] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 0 72.2% 50.6%;
    --chart-2: 0 75% 80%;
    --chart-3: 0 70.8% 65%;
    --chart-4: 0 84.2% 60.2%;
    --chart-5: 0 72.2% 50.6%;
  }
  :root[data-theme='rose-light'] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.5% 90%;
    --secondary-foreground: 240 5% 10%;
    --muted: 240 4% 90%;
    --muted-foreground: 240 3% 50%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 80%;
    --input: 240 5% 90%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 346.8 77.2% 49.8%;
    --chart-2: 346.8 100% 58.2%;
    --chart-3: 346.8 73.7% 44.1%;
    --chart-4: 346.8 83% 34%;
    --chart-5: 355.7 100% 97.3%;
  }
  :root[data-theme='rose-dark'] {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 240 5% 60%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.5% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 346.8 77.2% 49.8%;
    --chart-2: 346.8 90% 90%;
    --chart-3: 346.8 88% 80%;
    --chart-4: 346.8 80% 70%;
    --chart-5: 346.8 77.2% 49.8%;
  }
  :root[data-theme='orange-light'] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4% 90%;
    --muted-foreground: 25 5.3% 45%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 20.5 90.2% 48.2%;
    --chart-3: 35 91.7% 43.1%;
    --chart-4: 30 92% 32%;
    --chart-5: 60 9.1% 97.8%;
  }
  :root[data-theme='orange-dark'] {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 33.3 100% 96.5%;
    --chart-3: 34.3 100% 91.8%;
    --chart-4: 20.5 90.2% 48.2%;
    --chart-5: 24.6 95% 53.1%;
  }
  :root[data-theme='green-light'] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 80%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 142.1 70% 45.3%;
    --chart-3: 142.1 70% 30%;
    --chart-4: 142.1 70% 25%;
    --chart-5: 355.7 100% 97.3%;
  }
  :root[data-theme='green-dark'] {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 240 5% 60%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 143.8 61.2% 86.1%;
    --chart-3: 143.8 64.2% 71%;
    --chart-4: 142.1 70.6% 45.3%;
    --chart-5: 142.1 76.2% 36.3%;
  }
  :root[data-theme='blue-light'] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 90%;
    --muted-foreground: 215.4 16.3% 40%;
    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 80%;
    --input: 214.3 31.8% 80%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 217.2 91.2% 69.8%;
    --chart-3: 224.3 76.3% 58%;
    --chart-4: 225.9 70.7% 50.2%;
    --chart-5: 210 40% 98%;
  }
  :root[data-theme='blue-dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 30% 20%;
    --muted-foreground: 215 20.2% 60%;
    --accent: 217.2 30% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 30% 20%;
    --input: 217.2 30% 20%;
    --ring: 224.3 76.3% 58%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 215.4 60% 80%;
    --chart-3: 214.3 94% 76.9%;
    --chart-4: 217.2 91.2% 69.8%;
    --chart-5: 221.2 83.2% 53.3%;
  }
  :root[data-theme='yellow-light'] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 50 15% 80%;
    --secondary-foreground: 20 95% 15%;
    --muted: 50 15% 80%;
    --muted-foreground: 25 10% 40%;
    --accent: 50 15% 80%;
    --accent-foreground: 20 95% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 10% 85%;
    --input: 20 10% 85%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 47.9 95.8% 53.1%;
    --chart-2: 35.5 91.7% 40%;
    --chart-3: 40.6 96.1% 50%;
    --chart-4: 43.3 96.4% 60%;
    --chart-5: 60 10% 95%;
  }
  :root[data-theme='yellow-dark'] {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 15 10% 30%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 15 10% 30%;
    --muted-foreground: 25 10% 60%;
    --accent: 15 10% 30%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 15 10% 30%;
    --input: 15 10% 30%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 47.9 95.8% 53.1%;
    --chart-2: 55 15% 85%;
    --chart-3: 50 90% 75%;
    --chart-4: 47.9 95.8% 53.1%;
    --chart-5: 35.5 91.7% 40%;
  }
  :root[data-theme='violet-light'] {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 90%;
    --secondary-foreground: 220.9 39.3% 10%;
    --muted: 220 14.3% 90%;
    --muted-foreground: 220 8.9% 40%;
    --accent: 220 14.3% 90%;
    --accent-foreground: 220.9 39.3% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 262.1 83.3% 57.8%;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 263.4 70% 55%;
    --chart-3: 265.1 61.5% 50%;
    --chart-4: 266.3 54.5% 40%;
    --chart-5: 210 20% 98%;
  }
  :root[data-theme='violet-dark'] {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 5%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 15%;
    --muted-foreground: 217.9 10.6% 60%;
    --accent: 215 27.9% 15%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 15%;
    --input: 215 27.9% 15%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 263.4 70% 60%;
    --chart-3: 262.1 83.3% 70%;
    --chart-4: 260 100% 85%;
    --chart-5: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Loader */
.loader-container {
  --uib-size: 250px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 2.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.loader-slice {
  position: relative;
  height: calc(var(--uib-size) / 6);
  width: 100%;
}

.loader-slice::before,
.loader-slice::after {
  --uib-a: calc(var(--uib-speed) / -2);
  --uib-b: calc(var(--uib-speed) / -6);
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - var(--uib-size) / 12);
  height: 100%;
  width: calc(100% / 6);
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  animation: orbit var(--uib-speed) linear infinite;
  transition: background-color 0.3s ease;
}

.loader-slice:nth-child(1)::after {
  animation-delay: var(--uib-a);
}

.loader-slice:nth-child(2)::before {
  animation-delay: var(--uib-b);
}

.loader-slice:nth-child(2)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b));
}

.loader-slice:nth-child(3)::before {
  animation-delay: calc(var(--uib-b) * 2);
}
.loader-slice:nth-child(3)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 2);
}

.loader-slice:nth-child(4)::before {
  animation-delay: calc(var(--uib-b) * 3);
}
.loader-slice:nth-child(4)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 3);
}

.loader-slice:nth-child(5)::before {
  animation-delay: calc(var(--uib-b) * 4);
}
.loader-slice:nth-child(5)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 4);
}

.loader-slice:nth-child(6)::before {
  animation-delay: calc(var(--uib-b) * 5);
}
.loader-slice:nth-child(6)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 5);
}

@keyframes orbit {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translateX(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
}
/* cloud loader*/

.cl-container {
  --uib-size: 300px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 1.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--uib-size) * 0.64);
  width: calc(var(--uib-size) * 0.64);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(-120%);
  }
}

.cl-dot {
  --uib-d1: -0.48;
  --uib-d2: -0.4;
  --uib-d3: -0.32;
  --uib-d4: -0.24;
  --uib-d5: -0.16;
  --uib-d6: -0.08;
  --uib-d7: -0;
  position: absolute;
  bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
  right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  animation: jump var(--uib-speed) ease-in-out infinite;
  opacity: var(--uib-scale);
  will-change: transform;
  backface-visibility: hidden;
}

.cl-dot::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
  transform: scale(var(--uib-scale));
  transition: background-color 0.3s ease;
}

.cl-dot:nth-child(1) {
  --uib-bottom: 24%;
  --uib-right: -35%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d1));
}
.cl-dot:nth-child(2) {
  --uib-bottom: 16%;
  --uib-right: -6%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}
.cl-dot:nth-child(3) {
  --uib-bottom: 8%;
  --uib-right: 23%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.cl-dot:nth-child(4) {
  --uib-bottom: -1%;
  --uib-right: 51%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.cl-dot:nth-child(5) {
  --uib-bottom: 38%;
  --uib-right: -17.5%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}
.cl-dot:nth-child(6) {
  --uib-bottom: 30%;
  --uib-right: 10%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.cl-dot:nth-child(7) {
  --uib-bottom: 22%;
  --uib-right: 39%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.cl-dot:nth-child(8) {
  --uib-bottom: 14%;
  --uib-right: 67%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.cl-dot:nth-child(9) {
  --uib-bottom: 53%;
  --uib-right: -0.8%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.cl-dot:nth-child(10) {
  --uib-bottom: 44.5%;
  --uib-right: 27%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.cl-dot:nth-child(11) {
  --uib-bottom: 36%;
  --uib-right: 55.7%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.cl-dot:nth-child(12) {
  --uib-bottom: 28.7%;
  --uib-right: 84.3%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}
.cl-dot:nth-child(13) {
  --uib-bottom: 66.8%;
  --uib-right: 15%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.cl-dot:nth-child(14) {
  --uib-bottom: 58.8%;
  --uib-right: 43%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.cl-dot:nth-child(15) {
  --uib-bottom: 50%;
  --uib-right: 72%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}
.cl-dot:nth-child(16) {
  --uib-bottom: 42%;
  --uib-right: 100%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d7));
}

.cl-dot:nth-child(3) {
  --uib-scale: 0.98;
}
.cl-dot:nth-child(2),
.cl-dot:nth-child(8) {
  --uib-scale: 0.96;
}
.cl-dot:nth-child(1),
.cl-dot:nth-child(7) {
  --uib-scale: 0.94;
}
.cl-dot:nth-child(6),
.cl-dot:nth-child(12) {
  --uib-scale: 0.92;
}
.cl-dot:nth-child(5),
.cl-dot:nth-child(11) {
  --uib-scale: 0.9;
}
.cl-dot:nth-child(10),
.cl-dot:nth-child(16) {
  --uib-scale: 0.88;
}
.cl-dot:nth-child(9),
.cl-dot:nth-child(15) {
  --uib-scale: 0.86;
}
.cl-dot:nth-child(14) {
  --uib-scale: 0.84;
}
.cl-dot:nth-child(13) {
  --uib-scale: 0.82;
}

/* particle loader*/

.pl-container {
  --uib-size: 100px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 4) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pl-particle {
  position: absolute;
  top: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:nth-child(1) {
    --uib-delay: 0;
    transform: rotate(8deg);
  }
  &:nth-child(2) {
    --uib-delay: -0.4;
    transform: rotate(36deg);
  }

  &:nth-child(3) {
    --uib-delay: -0.9;
    transform: rotate(72deg);
  }
  &:nth-child(4) {
    --uib-delay: -0.5;
    transform: rotate(90deg);
  }
  &:nth-child(5) {
    --uib-delay: -0.3;
    transform: rotate(144deg);
  }
  &:nth-child(6) {
    --uib-delay: -0.2;
    transform: rotate(180deg);
  }
  &:nth-child(7) {
    --uib-delay: -0.6;
    transform: rotate(216deg);
  }
  &:nth-child(8) {
    --uib-delay: -0.7;
    transform: rotate(252deg);
  }
  &:nth-child(9) {
    --uib-delay: -0.1;
    transform: rotate(300deg);
  }
  &:nth-child(10) {
    --uib-delay: -0.8;
    transform: rotate(324deg);
  }
  &:nth-child(11) {
    --uib-delay: -1.2;
    transform: rotate(335deg);
  }
  &:nth-child(12) {
    --uib-delay: -0.5;
    transform: rotate(290deg);
  }
  &:nth-child(13) {
    --uib-delay: -0.2;
    transform: rotate(240deg);
  }
}

.pl-particle::before {
  content: '';
  position: absolute;
  height: 17.5%;
  width: 17.5%;
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  transition: background-color 0.3s ease;
  --uib-d: calc(var(--uib-delay) * var(--uib-speed));
  animation: orbit var(--uib-speed) linear var(--uib-d) infinite;
}

@keyframes orbit {
  0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translate(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
}

/* hourglass loader*/

.hr-container {
  --uib-size: 45px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 1.75s;
  --uib-bg-opacity: 0.1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--uib-size);
  width: var(--uib-size);
  transform: rotate(45deg);
  animation: rotate calc(var(--uib-speed) * 2) ease-in-out infinite;
}

.hr-half {
  --uib-half-size: calc(var(--uib-size) * 0.435);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-half-size);
  height: var(--uib-half-size);
  overflow: hidden;
  isolation: isolate;

  &:first-child {
    top: 8.25%;
    left: 8.25%;
    border-radius: 50% 50% calc(var(--uib-size) / 15);
  }

  &:last-child {
    bottom: 8.25%;
    right: 8.25%;
    transform: rotate(180deg);
    align-self: flex-end;
    border-radius: 50% 50% calc(var(--uib-size) / 15);

    &::after {
      animation-delay: calc(var(--uib-speed) * -1);
    }
  }

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: background-color 0.3s ease;
  }

  &::after {
    content: '';
    position: relative;
    z-index: 1;
    display: block;
    background-color: var(--uib-color);
    height: 100%;
    transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
    width: 100%;
    transform-origin: bottom right;
    border-radius: 0 0 calc(var(--uib-size) / 20) 0;
    animation: flow calc(var(--uib-speed) * 2) linear infinite both;
    transition: background-color 0.3s ease;
  }
}

@keyframes flow {
  0% {
    transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
  }
  30% {
    transform: rotate(45deg) translate(115%, 50%) scaleX(1.2);
  }

  30.001%,
  50% {
    transform: rotate(0deg) translate(-85%, -85%) scaleX(1);
  }

  80%,
  100% {
    transform: rotate(0deg) translate(0%, 0%) scaleX(1);
  }
}

@keyframes rotate {
  0%,
  30% {
    transform: rotate(45deg);
  }

  50%,
  80% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

/* infinity loader */

.infinity-container {
  --uib-size: 55px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 1.3s;
  --uib-bg-opacity: 0.1;
  height: calc(var(--uib-size) * (2.1 / 5));
  width: var(--uib-size);
  transform-origin: center;
  overflow: visible;
}

.infinity-car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 15, 85;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: travel var(--uib-speed) linear infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.infinity-track {
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
}

@keyframes travel {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 100;
  }
}

/* react-grid-layout  */
.react-grid-placeholder {
  border-radius: var(--radius);
  background-color: hsl(var(--card)) !important;
}
